<table class="table">

	<tbody ng-repeat="lugar in lugares">
		<tr class="text-center">

			<th scope="row">
				{{lugar.Nombre}}
			</th>

			<td>
				<form>
					<!-- Agregar un registro a un objeto de la tabla
					En caso de no querer agregar registro, borrar esta seccion
					-->
					<div ng-include="'./seguridad.html'"></div>
				</form>
			</td>

		</tr>
	</tbody>

</table>
