<!-- Sección para agregar una alerta de registro exitoso -->
<div ng-show="alertInsertar" class="alert bg-light text-dark alert-dismissible fade show" role="alert">
  <p>¡Registro exitoso! Podrás encontrarlo al final de la lista.</p>
  <button ng-click="closealertInsertar()" type="button" class="close btn-circle btn-md">
    <i class="fas fa-times"></i>
  </button>
</div>

<table class="table">
    <tbody ng-repeat="lugar in lugar_nuevo">
      <tr>
        <td>
          <div class="d-flex justify-content-center">
          <!-- Obtener varchar del input para crear un objeto nuevo correspondiente a la tabla -->
            <input class="form-control" type="text" placeholder="Ingresar nombre" ng-model="lugar.nombre">
          </div>
        </td>

        <td>
          <!-- Boton para guardar registro en la tabla -->
          <button type="submit" class="btn btn-secondary btn-block text-center" ng-click="agregarLugar()"> Guardar </button>
        </td>
      </tr>
    </tbody>
</table>
