<table class="table">
  <thead>
      <tr>
        <td>
          Total de opciones de incidentes conocidos
        </td>
        <td>
          {{stats.total}}
        </td>
      </tr>

      <tr>
        <td>
          Cantidad Fallas eléctricas
        </td>
        <td>
          {{stats.electricas}}
        </td>
      </tr>

      <tr>
        <td>
          Cantidad Fugas de herbívoro
        </td>
        <td>
          {{stats.herbivoros}}
        </td>
      </tr>

      <tr>
        <td>
          Cantidad Fugas de velociraptors
        </td>
        <td>
          {{stats.velociraptors}}
        </td>
      </tr>

      <tr>
        <td>
          Cantidad Fugas de trex
        </td>
        <td>
          {{stats.trex}}
        </td>
      </tr>

      <tr>
        <td>
          Cantidad Robos de ADN
        </td>
        <td>
          {{stats.ADN}}
        </td>
      </tr>

      <tr>
        <td>
          Cantidad Autos descompuestos
        </td>
        <td>
          {{stats.Autos}}
        </td>
      </tr>

      <tr>
        <td>
          Cantidad Visitantes en zonas no autorizada
        </td>
        <td>
          {{stats.Zonas}}
        </td>
      </tr>

      </thead>
      <tbody>

    </tbody>
</table>
