<table class="table">
	<thead class="bg-teal text-dark">
		<tr class="bg-light text-center">
			<th scope="col">Nombre del lugar</th>
			<th scope="col">Tipo de incidente</th>
			<th scope="col">Fecha</th>
		</tr>
	</thead>
	<tbody ng-repeat="lugar in historial | filter:filtro">
		<tr class="text-center">
			<th scope="row">
				{{lugar.Nombre}}
			</th>
			<th scope="row">
				{{lugar.nombre}}
			</th>
			<th scope="row">
				{{lugar.fecha}}
			</th>
		</tr>
	</tbody>
</table>
