
<div>
    <table class="table">

        <tbody>
            <td class="bg-light">
                Tipo de incidente
            </td>
            <td class="bg-light">
                Fecha
            </td>

            <tr ng-repeat="incidente in lugar.seguridad">
                <td>
                    {{incidente.nombre}}
                </td>
                <td>
                    {{incidente.fecha}}
                </td>
            </tr>

            <tr>
                <td>
                  <div class="d-flex justify-content-center">
                      <select class="form-control select" ng-model="incidente_seleccionado" ng-options="incidente.nombre for incidente in incidentes_menu">
                          <option value="">-- seleccione incidente --</option>
                      </select>
                  </div>
                </td>

                <td>
                  <button type="submit" class="btn btn-secondary btn-block text-center" ng-click="agregarIncidente(incidente_seleccionado, incidente.lugar)">
                    Guardar
                  </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
