<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" href="#"></a>

  <form class="form-inline my-2 my-lg-0" ng-show="tab_filtro">
    <input ng-model="filtro" class="form-control" placeholder="Buscar incidente...">
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

    <li ng-click="showConsultar()" class="nav-item nav-item-teal">
      <a class="navbar-brand">Registro</a>
    </li>

    <li ng-click="showHistorial()" class="nav-item nav-item-teal">
      <a class="navbar-brand">Historial</a>
    </li>

    <li ng-click="showEstadisticas()" class="nav-item nav-item-teal">
      <a class="navbar-brand">Estadisticas</a>
    </li>

    </ul>
  </div>
</nav>

<!-- Sección para presentar -->
    <div
      ng-show="tab_bienv"
      class="mt-2 mb-1 border-bottom border-grey-lighten-1 container"
        >
        <!-- Titulo -->
        <div class="row">
          <div class="col-sm">
            <h3 class="p-2">Diana Estefania Ortiz Ledesma</h3>
          </div>
        </div>
        <!-- Mostrar estadisticas de la tabla -->
          <div class="row p-1">
            <div class="container d-flex justify-content-center">
              <div class="flex-fill">
                <div ng-include="'./component_bienvenida.html'"></div>
              </div>
            </div>
          </div>
        </div>


<!-- Sección para agregar un registro a la tabla -->
  <div
    ng-show="tab_insert"
    class="mt-2 mb-1 border-bottom border-grey-lighten-1 container"
  >
  <!-- Titulo -->
    <div class="row">
      <div class="col-sm">
        <h3 class="p-2">Agregar Lugar</h3>
      </div>
    </div>
    <!-- Sección para llamar al componente de insertar registro-->
    <div class="row p-1">
      <div class="container d-flex justify-content-center">
        <div class="flex-fill">
          <div ng-include="'./component_insertar.html'"></div>
        </div>
      </div>
    </div>
  </div>


<!-- Sección para consultar los registros de la tabla -->
    <div
      ng-show="tab_consult"
      class="mt-2 mb-1 border-bottom border-grey-lighten-1 container"
    >

    <!-- Mostrar registros de la tabla -->
      <div class="row p-1">
        <div class="container d-flex justify-content-center">
          <div class="flex-fill">
            <div ng-include="'./component_lugares.html'"></div>
          </div>
        </div>
      </div>
    </div>


<!-- Sección para consultar estadisticas -->
    <div
      ng-show="tab_stats"
      class="mt-2 mb-1 border-bottom border-grey-lighten-1 container"
        >
        <!-- Titulo -->
        <div class="row">
          <div class="col-sm">
            <h3 class="p-2">Consultar Incidentes</h3>
          </div>
        </div>
        <!-- Mostrar estadisticas de la tabla -->
          <div class="row p-1">
            <div class="container d-flex justify-content-center">
              <div class="flex-fill">
                <div ng-include="'./component_consultar.html'"></div>
              </div>
            </div>
          </div>
        </div>



<!-- Sección para ver historial de los registros -->
    <div
      ng-show="tab_historial"
      class="mt-2 mb-1 border-bottom border-grey-lighten-1 container"
    >
    <!-- Titulo -->
      <div class="row">
        <div class="col-sm">
          <h3 class="p-2">Historial</h3>
        </div>
      </div>

      <!-- Mostrar todo el historial -->
      <div class="row p-1">
        <div class="container d-flex justify-content-center">
          <div class="flex-fill">
            <div ng-include="'./component_historial.html'"></div>
          </div>
        </div>
      </div>
    </div>
